node_modules/
dist/
*.duckdb
.DS_Store
*.local
dbt_project/logs/dbt.log
dbt_project/target/graph_summary.json
dbt_project/target/graph.gpickle
dbt_project/target/manifest.json
dbt_project/target/partial_parse.msgpack
dbt_project/target/run_results.json
